<!DOCTYPE html>
<html>
  <head>
    <title>Modifica Prenotazione</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script sr="../static/modifica_prenotazione.js"></script>
  </head>
  <body>
    <h1>Modifica Prenotazione</h1>
    <form method="POST">
      <label for="num_persone">Numero di persone:</label>
      <input type="number" name="num_persone" id="num_persone" value="{{ prenotazione.num_persone }}" required><br><br>

      <label for="data">Data:</label>
      <input type="date" name="data" id="data" value="{{ prenotazione.data }}" required><br><br>

      <label for="ora">Ora:</label>
      <input type="time" name="ora" id="ora" value="{{ prenotazione.ora }}" required><br><br>

      <input type="submit" value="Modifica" onclick="modificaPrenotazione()">
    </form>
  </body>
</html>
